[phases.setup]
nixPkgs = ['nginx', 'php82', 'php82Extensions.opcache']

[phases.build]
cmds = [
    "mkdir -p /tmp/nginx /tmp/nginx-proxy /tmp/nginx-fastcgi"
]

[variables]
PORT = "8080"

[start]
cmd = 'php-fpm -F -y /app/php-fpm.conf & sleep 3 && nginx -c /app/nginx.conf -g "daemon off;"'