[phases.setup]
nixPkgs = ['nginx', 'php82', 'php82Extensions.opcache']

[phases.build]
cmds = [
    "mkdir -p /tmp/nginx /tmp/nginx-proxy /tmp/nginx-fastcgi"
]

[variables]
PORT = "8080"

[start]
cmd = '''
echo "Starting PHP-FPM..."
php-fpm -F -y /app/php-fpm.conf &
sleep 3
echo "Starting Nginx..."
nginx -c /app/nginx.conf -g "daemon off;"
'''